.section--summary {
  margin-top: -4rem;
  background-color: white;
  color: #575757;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  position: relative;
}

.section--summary:after {
  content: "";
  left: -1440px;
  background: url(/assets/images/lines.svg) repeat-x;
  height: 406px;
  width: calc(1440px * 3);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
  animation: infiniteStats 120s linear infinite;
}

.section--summary .summary__lists>* {
  flex: 1;
}

.section--summary .summary__list img {
  align-self: flex-start;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.section--summary .summary__list:first-of-type {
  padding-right: 1rem;
}

.section--summary .summary__list:nth-of-type(2) {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section--summary .summary__list:last-of-type {
  padding-left: 1rem;
}

.section--summary .flex_child--vertical {
  padding: 2rem 2.4rem;
}

.section--summary .flex_child--vertical:last-of-type {
  border-top: 1px solid #eaeaea;
}

.section--summary .flex_child--vertical:last-of-type p {
  flex: 2;
}

.section--summary .flex_child--vertical:last-of-type h2 {
  flex: 1;
  text-align: right;
  align-content: flex-end;
  padding-left: 1rem;
}
