@import "vars";

.section--summary {
  margin-top: -4rem;
  background-color: white;
  color: $gray-1;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  position: relative;
  &:after {
    content: "";
    left: -1440px;
    background: url(/assets/images/lines.svg) repeat-x;
    height: 406px;
    width: calc(1440px * 3);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
    animation: infiniteStats 120s linear infinite;
  }
  .summary__lists {
    > * {
      flex: 1;
    }
  }
  .summary__list {
    img {
      align-self: flex-start;
      width: 50px;
      height: 50px;
      margin-right: 1rem;
    }
    &:first-of-type {
      padding-right: 1rem;
    }
    &:nth-of-type(2) {
      border-right: 1px solid $purple-1;
      border-left: 1px solid $purple-1;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &:last-of-type {
      padding-left: 1rem;
    }
  }
  .flex_child--vertical {
    padding: 2rem 2.4rem;
    &:last-of-type {
      border-top: 1px solid $purple-1;
      p {
        flex: 2;
      }
      h2 {
        flex: 1;
        text-align: right;
        align-content: flex-end;
        padding-left: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .section--summary {
    border-radius: 0;
    &:after {
      display: none;
    }
  }
}
@media only screen and (max-width: 770px) {
  .section--summary {
    border-radius: 0;
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 660px) {
  .section--summary {
    .summary__lists {
      text-align: center;
      padding: 2rem 0.5rem;
    }
    .summary__list {
      padding: 0;
      flex-direction: column;
      border: 0;
      img {
        align-self: center;
        margin-bottom: 0.5rem;
        margin-right: 0;
      }
      p {
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1.4em;
      }
    }
    .flex_child--vertical:last-of-type {
      flex-direction: column;
      padding: 2rem;
      p {
        text-align: center;
      }
      h2 {
        padding-left: 0;
        align-self: center;
        order: -1;
        margin-bottom: 1rem;
        text-align: center;
      }
    }
  }
}
