@import "vars";

.section--snippets {
  // opacity: 0;
  max-width: 760px;
  margin: 4rem auto 8rem auto;
  padding-top: 14rem;
  position: relative;
  .snippets__cards {
    transform: translate3d(-2rem, -8rem, 0);
    align-self: flex-start;
    flex: 1;
  }
  .snippets__card {
    border: 1px solid $purple-5;
    border-radius: 3px;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: 0.3s;
    > p {
      flex: 1;
      margin-right: 1rem;
    }
    &:hover {
      transform: translate3d(-10px, 0px, 0px);
    }
  }
  .snippets__title {
    margin-bottom: 1rem;
  }
  .snippets__content {
    background-color: $purple-5;
    padding: 2rem;
    flex: 1;
    align-self: flex-start;
  }
  &:before {
    position: absolute;
    background: radial-gradient(
      #5d4688 0%,
      unquote("#efb5dd21") 30%,
      #27253f 70%
    );
    content: "";
    top: 30px;
    right: -40px;
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  &:after {
    position: absolute;
    background: url(/assets/images/info.png) no-repeat;
    content: "";
    top: 100px;
    right: 30px;
    height: 200px;
    width: 60px;
    background-size: contain;
  }
}
@media only screen and (max-width: 960px) {
  .section--snippets {
    margin: 8rem auto;
    text-align: center;
    > .flex--horizontal {
      flex-direction: column;
    }
    &:before,
    &:after {
      display: none;
    }
    .snippets__cards {
      transform: none;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .snippets__card {
      flex: 0.18;
      flex-direction: column;
      p {
        margin-right: 0;
      }
      &:hover {
        transform: translate3d(0px, -10px, 0px);
      }
    }
  }
  .snippets__description {
    column-count: 2;
    text-align: left;
  }
}
@media only screen and (max-width: 770px) {
  .section--snippets {
    margin: 3rem auto;
    text-align: center;
    padding-top: 0;
    > .flex--horizontal {
      padding: 1.4rem;
    }
    &:before,
    &:after {
      display: none;
    }
  }
}
@media only screen and (max-width: 660px) {
  .snippets__cards {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .snippets__description {
    column-count: 1;
    text-align: center;
  }
}
