<nav class="nav--desktop">
  <a href="#section-hero" class="js-btn" data-hover="home">Home</a>
  <a href="#section-snippets" class="js-btn" data-hover="snippets"
    >Snippets</a
  >
  <a href="#section-features" class="js-btn" data-hover="features"
    >Features</a
  >
  <a href="#section-stats" class="js-btn" data-hover="stats">Stats</a>
  <a href="#section-integration" class="js-btn" data-hover="integration"
    >Integration</a
  >
  <a href="#section-customers" class="js-btn" data-hover="customers"
    >Customers</a
  >
  <a href="#section-contact" class="js-btn" data-hover="contact">contact</a>
</nav>
<nav class="nav--mobile">
  <div class="nav--icon" (click)="showMobileMenu = !showMobileMenu"><fa-icon [icon]="faCube"></fa-icon></div>
  <div class="mobile-list" [class.show]="showMobileMenu" >
    <div class="centered">
      <a href="#section-hero" class="js-btn" data-hover="home">Home</a>
      <a href="#section-snippets" class="js-btn" data-hover="snippets"
        >Snippets</a
      >
      <a href="#section-features" class="js-btn" data-hover="features"
        >Features</a
      >
      <a href="#section-stats" class="js-btn" data-hover="stats">Stats</a>
      <a href="#section-integration" class="js-btn" data-hover="integration"
        >Integration</a
      >
      <a href="#section-customers" class="js-btn" data-hover="customers"
        >Customers</a
      >
      <a href="#section-contact" class="js-btn" data-hover="contact"
        >contact</a
      >
    </div>
  </div>
</nav>
