@import "vars";

nav {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 1.5rem;
  a {
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;
    &:not(:last-child) {
      margin-right: 2rem;
      @media only screen and (max-width: 770px) {
        margin-right: 0;
      }
    }
    &:before {
      transition: 0.5s all ease;
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: -10px;
      opacity: 0;
      content: "";
      height: 2px;
      background-color: $purple-4;
    }
    &:hover {
      color: $purple-4;
      &:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
    &.selected {
      color: $purple-4;
    }
  }
}

.nav--mobile {
  display: none;
}
.nav--desktop {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #27263ff2;
  transition: 0.3s;
}
.nav--icon {
  border-radius: 100px;
  padding: 0.5rem;
  width: 25px;
  height: 25px;
  background-color: $purple-7;
  font-size: 1rem;
  position: fixed;
  left: 50%;
  top: 3%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  &:hover {
    transform: translateX(-50%) rotate(360deg);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}
.mobile-list {
  display: none;
  z-index: 50;
  background-color: $purple-6;
  padding: 6rem 1rem 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .centered {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  a {
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
  &.show {
    display: block;
  }
}

@media only screen and (max-width: 770px) {
  .nav--desktop {
    display: none;
  }
  .nav--mobile {
    display: block;
  }
}
