<section id="section-integration" class="section--integrations">
  <div class="section__title">
    <h3 class="font-fjalla">Trusted by</h3>
  </div>
  <div class="flex--horizontal">
    <img src="assets/images/logos/1.svg" class="logo" />
    <img src="assets/images/logos/2.svg" class="logo" />
    <img src="assets/images/logos/3.svg" class="logo" />
    <img src="assets/images/logos/4.svg" class="logo" />
    <img src="assets/images/logos/5.svg" class="logo" />
    <img src="assets/images/logos/6.svg" class="logo" />
  </div>
</section>
