<section id="section-snippets" class="section--snippets">
  <div class="flex--horizontal">
    <div class="snippets__cards flex--vertical">
      <div class="snippets__card flex--horizontal">
        <p>Health check on the latest selected time range</p>
        <h3 class="font-fjalla">OK</h3>
      </div>
      <div class="snippets__card flex--horizontal">
        <p>The average ping up time of selected time range</p>
        <h3 class="font-fjalla">95%</h3>
      </div>
      <div class="snippets__card flex--horizontal">
        <p>Average latency in the selected time range</p>
        <h3 class="font-fjalla">19ms</h3>
      </div>
      <div class="snippets__card flex--horizontal">
        <p>Shows the average packet lost in selected time range</p>
        <h3 class="font-fjalla">0.1</h3>
      </div>
      <div class="snippets__card flex--horizontal">
        <p>Error rate of bit transmission in selected time range</p>
        <h3 class="font-fjalla">0.02%</h3>
      </div>
    </div>
    <div class="snippets__content animated fadeInDown">
      <h3 class="font-fjalla snippets__title">
        Easy tracking of all Your stats
      </h3>
      <p class="snippets__description">
        Throughput is controlled by available bandwidth, as well as the
        available signal-to-noise ratio and hardware limitations. Throughput
        for the purpose of this article will be understood to be measured
        from the arrival of the first bit of data at the receiver, to
        decouple the concept of throughput from the concept of latency.
        <br /><br />
        Choice of an appropriate time window will often dominate
        calculations of throughput.
      </p>
    </div>
  </div>
</section>
