<section id="section-summary" class="section--summary">
  <div class="flex--vertical">
    <div class="flex_child--vertical flex--horizontal summary__lists">
      <div class="summary__list flex--horizontal fadeIn">
        <img src="assets/images/summary-github.png"  />
        <p>works on phone and all devices</p>
      </div>
      <div class="summary__list flex--horizontal fadeIn">
        <img src="assets/images/summary-cpu.png"  />
        <p>free status page for monitoring</p>
      </div>
      <div class="summary__list flex--horizontal fadeIn">
        <img src="assets/images/summary-dollar.png"  />
        <p>easy integrations and setup</p>
      </div>
    </div>
    <div class="flex_child--vertical flex--horizontal aligner fadeIn">
      <p>
        For some systems, latency and throughput are coupled entities. In
        TCP/IP, latency can also directly affect throughput. In TCP
        connections, the large bandwidth-delay product of high latency
        connections, combined with relatively small TCP window sizes on many
        devices, effectively causes the throughput of a high latency
        connection to drop sharply with latency. <br /><br />
        This can be remedied with various techniques, such as increasing the
        TCP congestion window size, or more drastic solutions, such as
        packet coalescing, TCP acceleration, and forward error correction,
        all of which are commonly used for high latency satellite links.
      </p>
      <h2 class="font-fjalla aligner_item--bottom">
        Reliable Monitoring System
      </h2>
    </div>
  </div>
</section>
