@import "vars";

.section--stats {
  // opacity: 0;
  margin: 8rem auto;
  .stats__block {
    border: 1px solid $purple-5;
    border-radius: 3px;
    padding: 1rem 1rem 0 1rem;
    height: 160px;
    margin-bottom: 1rem;
    &:hover {
      background-color: $purple-4;
      color: $purple-10;
      transition: 1s;
      .stats__name {
        color: white;
        font-weight: 600;
      }
    }
  }
  .stats__name {
    color: $purple-4;
    font-weight: 400;
    flex-grow: 1;
    font-size: 1em;
  }
  .stats {
    position: relative;
    height: 100px;
    margin-top: 0.8rem;
    canvas {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 960px) {
  .stats__block {
    width: 80%;
    margin: 0 auto 1rem auto;
  }
}
@media only screen and (max-width: 770px) {
  .section--stats {
    margin: 5rem auto;
  }
}
