<section id="section-stats" class="section--stats">
  <div class="section__title">
    <h3 class="font-fjalla">Stats on Oasis</h3>
    <p>
      These long path length considerations are exacerbated when communicating
      with space probes and other long-range targets beyond Earth's atmosphere.
    </p>
  </div>
  <div class="stats__block">
    <div class="flex--horizontal">
      <h4 class="stats__name">A/B Split</h4>
      <h4 class="font-fjalla stats__result">A/B</h4>
    </div>
    <div class="stats">
      <canvas
        baseChart
        [type]="'line'"
        [data]="dataSet1"
        [options]="lineChartOptions"
        [legend]="false"
        height="100"
      >
      </canvas>
    </div>
  </div>
  <div class="stats__block">
    <div class="flex--horizontal">
      <h4 class="stats__name">Crash Rate</h4>
      <h4 class="font-fjalla stats__result">89%</h4>
    </div>
    <div class="stats">
      <canvas
        baseChart
        [type]="'bar'"
        [data]="dataSet2"
        [options]="barChartOptions"
        [legend]="false"
        height="100"
      >
      </canvas>
    </div>
  </div>
  <div class="stats__block">
    <div class="flex--horizontal">
      <h4 class="stats__name">Error reporting API - Uptime</h4>
      <h4 class="font-fjalla stats__result">100</h4>
    </div>
    <div class="stats">
      <canvas
        baseChart
        [type]="'line'"
        [data]="dataSet3"
        [options]="lineChartOptions"
        [legend]="false"
        height="100"
      >
      </canvas>
    </div>
  </div>
  <div class="stats__block">
    <div class="flex--horizontal">
      <h4 class="stats__name">General API</h4>
      <h4 class="font-fjalla stats__result">81rps</h4>
    </div>
    <div class="stats">
      <canvas
        baseChart
        [type]="'line'"
        [data]="dataSet4"
        [options]="lineChartOptions"
        [legend]="false"
        height="100"
      >
      </canvas>
    </div>
  </div>
  <div class="stats__block">
    <div class="flex--horizontal">
      <h4 class="stats__name">Data Access API</h4>
      <h4 class="font-fjalla stats__result">93%</h4>
    </div>
    <div class="stats">
      <canvas
        baseChart
        [type]="'bar'"
        [data]="dataSet5"
        [options]="barChartOptions"
        [legend]="false"
        height="100"
      >
      </canvas>
    </div>
  </div>
  <div class="stats__block">
    <div class="flex--horizontal">
      <h4 class="stats__name">Average Latency</h4>
      <h4 class="font-fjalla stats__result">1.98ms</h4>
    </div>
    <div class="stats">
      <canvas
        baseChart
        [type]="'line'"
        [data]="dataSet6"
        [options]="lineChartOptions"
        [legend]="false"
        height="100"
      >
      </canvas>
    </div>
  </div>
</section>
