
.section--stats {
  /* opacity: 0; */
  margin: 8rem auto;
}

.section--stats .stats__block {
  border: 1px solid #6146d7;
  border-radius: 3px;
  padding: 1rem 1rem 0 1rem;
  height: 160px;
  margin-bottom: 1rem;
}

.section--stats .stats__block:hover {
  background-color: #c0b2fc;
  color: #27253f;
  transition: 1s;
}

.section--stats .stats__block:hover .stats__name {
  color: white;
  font-weight: 600;
}

.section--stats .stats__name {
  color: #c0b2fc;
  font-weight: 400;
  flex-grow: 1;
}

.section--stats .stats {
  position: relative;
  height: 100px;
  margin-top: 0.8rem;
}
