<section id="section-features" class="section--features">
  <div class="section__title">
    <h3 class="font-fjalla">Features of Oasis</h3>
    <p>
      TCP acceleration converts the TCP packets into a stream that is
      similar to UDP. Because of this, the TCP acceleration software must
      provide its own mechanisms to ensure the reliability of the link.
    </p>
  </div>
  <div class="flex--horizontal">
    <div class="features__left aligner flex--vertical">
      <div class="flex--vertical fadeInLeft fadeInLeft--0">
        <object
          type="image/svg+xml"
          data="assets/images/features-circle.svg"
          class="svg"
        ></object>
        <p>
          Performance issues such as throughput and end-to-end delay are
          also addressed.
        </p>
      </div>
      <div class="flex--vertical fadeInLeft fadeInLeft--1">
        <object
          type="image/svg+xml"
          data="assets/images/features-polygon.svg"
          class="svg"
        ></object>
        <p>
          Many systems can be characterized as dominated either by
          throughput limitations or by latency limitations in terms of
          end-user utility or experience.
        </p>
      </div>
      <div class="flex--vertical fadeInLeft fadeInLeft--2">
        <object
          type="image/svg+xml"
          data="assets/images/features-rec.svg"
          class="svg"
        ></object>
        <p>
          In some cases, hard limits such as the speed of light present
          unique problems to such systems and nothing can be done to correct
          this.
        </p>
      </div>
    </div>
    <img class="features__image" src="assets/images/features-image.png" />
    <div class="features__right aligner flex--vertical">
      <div
        class="flex--vertical fadeInRight fadeInRight--0"
      >
        <object
          type="image/svg+xml"
          data="assets/images/features-star.svg"
          class="svg"
        ></object>
        <p>
          Other systems allow for significant balancing and optimization for
          best user experience.
        </p>
      </div>
      <div
        class="flex--vertical fadeInRight fadeInRight--1"
      >
        <object
          type="image/svg+xml"
          data="assets/images/features-triangle.svg"
          class="svg"
        ></object>
        <p>
          A telecom satellite in geosynchronous orbit imposes a path length
          of at least 71000 km between transmitter and receiver.
        </p>
      </div>
      <div
        class="flex--vertical fadeInRight fadeInRight--2"
      >
        <object
          type="image/svg+xml"
          data="assets/images/features-rec.svg"
          class="svg"
        ></object>
        <p>
          This delay can be very noticeable and affects satellite phone
          service regardless of available throughput capacity.
        </p>
      </div>
    </div>
  </div>
</section>
