<section id="section-hero" class="section--hero">
  <div class="flex--horizontal">
    <div class="flex_child--horizontal aligner">
      <h1 class="font-fjalla">Oasis</h1>
      <p>
        Error tracking and monitor all your server status at all time.
        Prevent incidents and be efficient.
      </p>
      <a href="" class="cta">
        <strong>Download From</strong><br />
        <small>App Store</small>
      </a>
    </div>
    <div class="flex_child--horizontal fadeInUp">
      <img src="assets/images/hero-phone.png"  />
    </div>
  </div>
</section>
