@import "vars";

.section--features {
  @for $i from 0 to 3 {
    .fadeInRight--#{$i},
    .fadeInLeft--#{$i} {
      animation-delay: $i * 500ms;
    }
  }
  // opacity: 0;
  > .flex--horizontal {
    justify-content: center;
  }
  .features__left,
  .features__right {
    width: 25%;
    font-size: 0.9em;
    .svg {
      width: 30px;
      height: 30px;
      margin-bottom: 0.5rem;
    }
  }
  .features__left {
    text-align: right;
    padding-right: 2rem;
    > .flex--vertical {
      align-items: flex-end;
      margin: 2rem 0;
      opacity: 0;
    }
  }
  .features__right {
    text-align: left;
    padding-left: 2rem;
    > .flex--vertical {
      align-items: flex-start;
      margin: 2rem 0;
      opacity: 0;
    }
  }
  .features__image {
    align-self: flex-start;
    max-width: 340px;
  }
}

@media only screen and (max-width: 770px) {
  .section--features {
    > .flex--horizontal {
      flex-direction: column;
      justify-content: center;
    }
    .features__image {
      align-self: center;
      margin-bottom: 2rem;
    }
    .features__left,
    .features__right {
      width: 80%;
      margin: auto;
      text-align: left;
      .svg {
        margin-right: 0.7rem;
      }
      > .flex--vertical {
        margin: 0.5rem 0;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
      }
    }
    .features__left {
      order: 2;
      padding-right: 0;
    }
    .features__right {
      order: 3;
      padding-left: 0;
    }
  }
}
