@import "vars";

.section--contact {
  background: url(/assets/images/contact-bg.png) repeat;
  padding: 8rem 3rem;
  margin: 0;
  max-width: none;
  border-top: 0.5rem solid $purple-5;
  .section__title {
    width: auto;
  }
}

.form-group {
  display: flex;
  align-items: stretch;
  max-width: 600px;
  margin: 2rem auto;
}

.input {
  border: 1px solid $gray-3;
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-button {
  padding: 0.5rem 1rem;
  margin-left: -1px;
  border: none;
  font-size: 0.8rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $purple-5;
  color: white;
  width: 15%;
}
@media only screen and (max-width: 480px) {
  .input {
    border-radius: 3px;
  }
  .input-button {
    width: 40%;
    border-radius: 3px;
    margin-top: 1rem;
  }
  .section--contact {
    padding: 5rem 1rem;
  }
  .form-group {
    max-width: none;
    width: auto;
    flex-direction: column;
    align-items: center;
  }
}
