.section--customers {
  margin: 0;
  padding: 5rem 0;
  background-color: #f6f2fe;
  max-width: none;
}

.section--customers .flex--horizontal {
  width: 90%;
  margin: auto;
  justify-content: center;
}

.section--customers>.section__container {
  max-width: 960px;
  margin: auto;
}

.section--customers .title {
  color: #1d1a2b;
  text-align: center;
  font-weight: 100;
  margin-bottom: 2rem;
}

.section--customers .time-ago {
  font-weight: bold;
}
