<section class="section--customers">
  <div class="section__container">
    <h4 class="title">What customers are saying</h4>
    <div class="slide__container">
      <div>
        <div class="flex--horizontal slide">
          <div class="slide__content">
            <h4 class="font-fjalla slide-0">
              Oasis provides a robust synopsis of our service statuses
            </h4>
            <p class="time-ago" data-date="2022-01-02"></p>
            <p class="slide-0">
              Iterative approaches to corporate strategy foster
              collaborative thinking to further the overall value
              proposition.
            </p>
          </div>
          <div class="slide__image slide-0">
            <img src="assets/images/customer-1.png" />
          </div>
        </div>
      </div>
      <div>
        <div class="flex--horizontal slide">
          <div class="slide__content">
            <h4 class="font-fjalla slide-1">
              Oasis has brought clarity to our architecture
            </h4>
            <p class="time-ago" data-date="2022-02-02"></p>
            <p class="slide-1">
              Iterative approaches to corporate strategy foster
              collaborative thinking to further the overall value
              proposition.
            </p>
          </div>
          <div class="slide__image slide-1">
            <img src="assets/images/customer-2.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
