@import "vars";

.section--customers {
  margin: 0;
  padding: 5rem 0;
  background-color: $purple-2;
  max-width: none;
  .flex--horizontal {
    width: 90%;
    margin: auto;
    justify-content: center;
  }
  > .section__container {
    max-width: 960px;
    margin: auto;
  }
  .title {
    color: $purple-11;
    text-align: center;
    font-weight: 100;
    margin-bottom: 2rem;
  }
  .time-ago {
    font-weight: bold;
  }
}

.slide__container {
  width: 90%;
  margin: auto;
  position: relative;
}
.slide__content {
  background-color: white;
  text-align: left;
  color: $gray-1;
  padding: 3rem;
  max-width: 250px;
  margin-top: 2rem;
  height: 200px;
  h4 {
    margin-bottom: 1rem;
    color: $purple-10;
  }
}
.slide__image {
  width: 400px;
  height: 400px;
  // overflow: hidden;
  margin-left: -1rem;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.3);
  img {
    object-fit: contain;
  }
}
.slide-controls {
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  bottom: 40%;
  left: 5%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  > button {
    border: none;
    background-color: $purple-3;
    width: 40px;
    height: 40px;
    color: $purple-5;
    outline: 0;
    cursor: pointer;
    &:hover {
      background-color: $purple-5;
      color: white;
      transition: 0.3s;
    }
  }
  > button:last-of-type {
    border-top: 1px solid darken($purple-3, 3%);
  }
}

@media only screen and (max-width: 960px) {
  .slide-controls {
    right: 50%;
    left: auto;
  }
}
@media only screen and (max-width: 770px) {
  .section--customers {
    padding: 2rem 0;
    .slide-controls {
      right: 10%;
      top: 4.5rem;
      bottom: auto;
    }
    .slide {
      flex-direction: column;
    }
    .slide__content {
      margin: 0;
      max-width: 80%;
      height: max-content;
      justify-content: stretch;
      padding: 3rem 1.6rem;
    }
    .slide__image {
      width: 100px;
      height: 100px;
      margin: 0 0 -2rem 1.2rem;
      order: -1;
      z-index: 1;
    }
  }
}
@media only screen and (max-width: 480px) {
  .section--customers .slide-controls {
    right: 5%;
  }
}
