<section id="section-customers" class="section--customers">
  <div class="section__container">
    <h4 class="title">What customers are saying</h4>
    <div class="slide__container">
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let customer of customers">
          <div class="flex--horizontal slide">
            <div class="slide__content">
              <h4 class="font-fjalla">
                {{ customer.title }}
              </h4>
              <p class="time-ago">{{ customer.date | timeAgo }}</p>
              <p>
                {{ customer.text }}
              </p>
            </div>
            <div class="slide__image">
              <img [src]="customer.image" />
            </div>
          </div>
        </ng-template>
      </swiper>
      <div class="slide-controls">
        <button (click)="slidePrev()">
          <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>
        <button (click)="slideNext()">
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</section>
